/*IMPORT RULES*/
@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');

/*RESET STYLES*/
*{
    margin: 0;
    border: 0;
    padding: 0;
}


/*FONT CLASSES*/
  .newsreader-200 {
    font-family: "Newsreader", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.ephesis-regular {
    font-family: "Ephesis", cursive;
    font-weight: 400;
    font-style: normal;
  }

header {
    display: flex;
}


h1 {
    background-color: #000435;
    color: #c0c0c0;
    flex: 1;
    
}

hr {
    border: 1px solid #c0c0c0;
   /* margin-top: 1%; */
}

nav #checkbox {
    display: none;
}

nav #icon {
    font-size: 2rem;
}


nav ul {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #234f1e;
    display: none;
}

nav ul li {
    padding: 2%;
    list-style-type: none;
}


nav ul li a {
    font-size: 2rem;
    text-decoration: none;
    color: white;

}

#checkbox:checked ~ ul {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #234f1e;
}


/*.topnav {
    flex: 1;
    float: right;
    font-size: 2rem;
    
}

.topnav a {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }*/



body {
    background-color: #000435;
    color: white;
  
}

#video {
    height: auto;
    width: 100%;
}

.welcome {
    text-align: center;
    padding: 5%;
    line-height: 1.3;
}

.quote{
    text-align: center;
    font-size: 28px;
}

.button {
    margin-left: 42%;
    background-color: #000435;
    border: 2px solid #c0c0c0;
    color: #c0c0c0;
    padding: 2%;
    transition-duration: 0.4s;
}

footer {
    display: flex;
    background-color: #234f1e;
    margin-top: 10%;
    padding: 2%;
}

.memberships {
    line-height: 1.5;
}

input[type=text] {
    align-items: flex-end;
    height: 20px;
 
}

.footerlinks {
    justify-content: space-between;
    align-items: flex-end;
    
}

/*MEDIA QUERIES*/

@media screen and (min-width: 800px) {

.button:hover {
    border: 2px solid #e8d28f;
    color: #e8d28f;
    cursor: pointer;
}

footer {
    padding: 1%;
}

.welcome {
    font-size: 20px;
    line-height: 2;
}

#icon {
    display: none;
}

nav ul {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: #000435;
}

nav ul li a {
    font-size: 1.5rem;
    color: #c0c0c0;
    display: flex;

}


h1 {
    font-size: 3rem;
    padding: 1%;
    position: relative;
    z-index: -1;
}

}
