/*RESET STYLES*/
*{
    margin: 0;
    border: 0;
    padding: 0;
}

h1 {
    background-color: #000435;
    color: #c0c0c0;
}

hr {
    border: 1px solid #c0c0c0;
}

body {
    background-color: #000435;
    color: white;
}

.welcome {
    text-align: center;
    padding: 5%;
}

.button {
    margin-left: 45%;
    background-color: #000435;
    border: 2px solid #c0c0c0;
    color: #c0c0c0;
    padding: 2%;
    transition-duration: 0.4s;
}

footer {
    display: block;
    background-color: #234f1e;
}

/*MEDIA QUERIES*/

@media screen and (min-width: 800px) {

.button:hover {
    border: 2px solid #e8d28f;
    color: #e8d28f;
}
}